<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.exomatik.monitoringproseslelang">

    <application
        android:allowBackup="true"
        android:icon="@drawable/dolby"
        android:label="@string/app_name"
        android:roundIcon="@drawable/dolby"
        android:supportsRtl="true"
        android:theme="@style/Theme.CustomBlue.NoActionBar">
        <activity android:name=".Activity.ContractViewerAct"></activity>
        <activity android:name=".Activity.MainAct" />
        <activity android:name=".Activity.LoginAct" />
        <activity android:name=".Activity.ScanQR" />
        <activity android:name=".Activity.SplashAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>